#root {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

.app {
  min-height: 100vh;
  height: 100%;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link--normalize {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

.full-width-button {
  width: 100%;
  margin-bottom: 12px;
}
