#root {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

.app {
  min-height: 100vh;
  height: 100%;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link--normalize {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

.full-width-button {
  width: 100%;
  margin-bottom: 12px;
}

.n-btn {
  background: 0 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  outline: 0;
  text-align: center;

  &:hover {
    opacity: .7;
  }
}

.custom-divider {
  padding: 0;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  line-height: 1.5715;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 30px 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: #2b2b2b;
  height: 0;

  &:after {
    font-size: 22px;
  }
}