@import "../../assets/scss/mixins";

.product-card {
  &__wrapper {
    height: 100%;

    .ant-card-body {
      height: inherit;
      padding: 1em;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__image {
    position: relative;
  }

  &__name {
    margin: 10px 0;
    @include limitTextLines;
    @include setFont(16px, 700, 17px, #333);
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;

    &--left {
      display: flex;
      flex-direction: column;

      span {
        color: #333;
        width: max-content;
      }
    }

    button.product-card__button {
      // color: #0a8dd8;
      // background: #fff;
      // border-color: #0a8dd8;
      // background: #40a9ff;
      // border-color: #40a9ff;
      color: #fff;
      border-color: #1890ff;
      background: #1890ff;
      border-radius: 2px;

      &:hover {
        opacity: 0.7;
      }

      > span {
        white-space: nowrap;
        width: inherit;
        margin: 0 auto;
        color: inherit;
        align-items: center;
        flex: 1 0 auto;
        justify-content: center;
      }
    }
  }

  &__net-price {
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    color: #f22726;
  }

  &__list-price {
    @include setFont(12px, 500, 15px, #acacac);
    text-decoration: line-through;
  }
}
